.product-item-price {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}

.actual-price {
    text-decoration: line-through;
    color: #999;
}

.discounted-price {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    color: #fa9c23;
    margin-bottom: 0px;
    margin-top: 8px;
}

.card-title {
    font-size: 14px;
}

.product-col-gap {
    padding: 4px;
}